<% @ppage = 'anticor'%>
<div class="page-header has-background-image" style="background-image:url(<%= image_path('pages/services/'+ @ppage + '/head.jpg')%>) ">
  <div class="overlay"></div>
  <div class="container">
    <h1 class="page-title toupp">
      мы используем топовый шведский антикор "Mercasol"
    </h1>

  </div>
</div>

<div class="page-content">
  <div class="sm-padding container">
    <p class="pwin">Организация "Автостар" производит антикорозийную обработку в Пятигорске. Преимущество материалов "Mercasol":
      «Mercasol» – это долговременный антикор. Предоставляет защиту от коррозии с 8 летней гарантией. Металл, обработанный этим антикоррозийным материалом, способен выдержать более
      2500 часов в камере солевого тумана, что является абсолютным рекордом среди всех антикоров.
    </p>
    <%= image_tag('pages/services/'+ @ppage + '/1.jpg', class: ' thumbnail pagesimg')%>
    <p class="pwin">Антикоррозийные материалы сертифицированы одной из самых уважемых и авторитетрных в области защиты от коррозии организацией – Шведским институтом коррозии (www.swerea.se).
      Материалы «Mercasol» специально разработаны для шумоизоляции (шумо-виброизоляции) и антикоррозийной защиты автомобилей, эксплуатируемых в тяжелых климатических условиях стран Скандинавии. Этот момент особенно актуален для России.
    </p>
    <p class="pwin">Инновационные разработки и опыт от концерна Auson – это гарантия лучшей защиты для Вашего автомобиля. Используйте антикор (*anticor*) обработку меркасол и ноксудол, а также перспективный шумо-виброизоляционный материал 5-го поколения на водной основе Noxudol 3100 для внутренней шумоизоляции. Узнайте больше о комплексной шумоизоляции с препаратами Меркасол и Ноксудол, которую предлагает концерн Аусон.
    </p>
    <p class="pwin">Любой автомобиль нуждается в защите от коррозии, обработке антикором, коррозионой защите, шумо-виброизоляции, антикоррозийной обработке, шумке. В любое время года, а особенно в наше зимнее время, когда на дорогах много гравия, соли и различных химических реагентов, автомобиль чрезвычайно нуждается в коррозийной защите. Но далеко не каждое средство идеально подходит для решения этой задачи. Есть множество средств которые помогают, но не решают эту проблему полностью. Здесь требуется генеральная антикоррозионная обработка. Самой надежной антикоррозионной обработкой является *Mercasol*, он же Меркасол. Она давно зарекомендовала себя с самой лучшей стороны. Она способна защитить автомобиль эффективно, а последний обновленный препарат Меркасол 847 вообще показал рекорды стойкости в камере солевого тумана. Ни один конкурент не может догнать этих результатов. Вывод напрашивается сам – “Меркасол” одно из лучших существующих на сегодняшний день средств защиты от коррозии автомобиля.
    </p>
  </div>

</div>