<div id="tech_osmotr" data-section-title="tech_osmotr"></div>
<div class="page-header">
  <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=nufbaS-SXH3XtOCe3kJPqTc0vx0e61pf&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=false"></script>
</div>

<div class="page-content">
  <div class="container " >
    <h3 class="name heading-border-left border-primary uppercase">Наши контакты</h3>
    <br/>
    АО «Производственная фирма «Автостар»<br/>
    Акционерное Общество "Производственная Фирма "Автостар""<br/>
    357532, Ставропольский край, г. Пятигорск, Бештаугорское шоссе 16<br/>
    Тел. +7(8793) 32-12-26 факс +7(8793) 32-12-21<br/>
    info@lada-avtostar.ru<br/>
    avtostar@rambler.ru<br/>
    <br/>
    <%= image_tag('pages/index/contact.jpg', class: ' thumbnail pagesimg2')%>
    <br/>

    <h3 class="name heading-border-left border-primary uppercase">Открытые вакансии</h3>
    <br/>
    Менеджер в отдел продаж запчастей<br/>
    Ассистент в автосалон<br/>
    Контроллер-охранник на автостоянку<br/>
    Водитель<br/>
    Дворник<br/>
    По всем интересующим Вас вопросам обращаться по телефону +7 (8793) 32-12-21<br/>
    <hr>
    <div class="hero-content">

      <div class="container" align="center">
        <h2 class="heading" style="text-transform: uppercase;">On-line запись в автоцентр ЗАО ПФ "Автостар"</h2>
        <p class="lead" style="color: black;"><span id="rotating-words" class="rotating-words">МЫ РАБОТАЕМ ДЛЯ ВАС,РАБОТАЕМ С ЗАБОТОЙ, ДОРОЖИМ КАЖДЫМ КЛИЕНТОМ</span></p>

        <button type="button" class="btn btn-primary btn-lg featurebtn" data-toggle="modal" data-target="#modalavtoservice"><%= image_tag(image_path('avtoservice_ico.png'), class: 'buttonimg' )%>  АВТОСЕРВИС</button>

        <button type="button" class="btn btn-primary btn-lg featurebtn" data-toggle="modal" data-target="#modalcallback"><%= image_tag(image_path('callback_ico.png'), class: 'buttonimg' )%>  ОБРАТНЫЙ ЗВОНОК</button>
      </div>
    </div>
  </div>
</div>