<% @ppage = 'diagnostika'%>
<div class="page-header has-background-image" style="background-image:url(<%= image_path('pages/services/'+ @ppage + '/head.jpg')%>) ">
  <div class="overlay"></div>
  <div class="container">
    <h1 class="page-title toupp">
      самый эффективный метод поиска причин неисправностей автомобиля
    </h1>

  </div>
</div>

<div class="page-content">
  <div class="container">
    <p class="pwin">ЗАО ПФ “Автостар” предлагает:</p>
    <ul>
      <li>Диагностика всех электронных систем автомобиля</li>
      <li>Программирование (чип-тюнинг)</li>
      <li>Промывка форсунок</li>
    </ul>
    <p class="pwin">Принцип работы двигателя внутреннего сгорания остался тем же, что и сто лет назад. В цилиндр подается горючая смесь топлива с воздухом,
      там она сжимается и в определенный момент при помощи искры воспламеняется. В итоге происходит взрыв, энергия которого преобразуется в движение.
      Вот только весь этот процесс постоянно усовершенствуется. И не удивительно, что в наш век этот процесс контролирует и регулирует компьютер.
      На смену карбюраторам, механическим бензонасосам, контактному зажиганию пришла электроника. Первое серийное применение на автомобилях ВАЗ
      бортового компьютера датируется 1995 годом.</p>
    <p class="pwin">Компьютерная диагностика – это самый эффективный метод поиска причин неисправностей автомобиля. В современных авто применяется инжекторная система подачи топлива под давлением и электронное зажигание. Весь процесс, вплоть до выхлопа отработанных газов, контролируется и регулируется определенным количеством датчиков соединенных с компьютером автомобиля. Бывалый шофер по старинке знает: если есть подача топлива и искра, мотор должен работать. Сегодня в этом убедиться визуально почти невозможно.</p>
    <p class="pwin">С помощью компьютерной диагностики проводится проверка ключевых систем управления работой автомобиля. Различные, но взаимосвязанные системы автомобиля должны четко и правильно функционировать. Их работа зависит как от самих узлов и деталей, так и  от исправности датчиков контроля и управления. Все их параметры контролируются и обрабатываются управляющим компьютером, установленным  в автомобиле. Своего рода автомобильный мозг иногда тоже дает сбои от накопления каких-то системных ошибок.</p>
    <p class="pwin">Специально обученные специалисты нашего автосервиса проводят компьютерную диагностику автомобилей на импортном оборудовании, на специально предназначенных для этого стендах. Это позволяет провести анализ систем и узлов, а также самого компьютера автомобиля. Эффективно выполняется точное и качественное обследование на предмет износа узлов, а также дает возможность составить прогноз о возможных проблемах. По необходимости мы можем провести ремонт или замену неисправных деталей в полном объеме.</p>
    <p class="pwin">Стоит ли напоминать, что самая обширная, сложная диагностика обойдется гораздо дешевле, нежели экстренные ремонтные работы, поэтому  не нужно ней пренебрегать. Систематическая профилактическая диагностика автомобиля, в конечном итоге, экономит время и деньги.</p>


  </div>
</div>
