<% @ppage = 'garant'%>
<div class="page-header has-background-image" style="background-image:url(<%= image_path('pages/services/'+ @ppage + '/head.png')%>) ">
  <div class="overlay"></div>
  <div class="container">
    <h1 class="page-title toupp">
      ЗАО ПФ «Автостар» является уполномоченным представителем ПАО «АВТОВАЗ»
    </h1>

  </div>
</div>

<div class="page-content">
  <div class="container">
    <p class="pwoin">Официальный дилер ОАО «АВТОВАЗ» ЗАО ПФ «Автостар» является уполномоченным представителем ОАО «АВТОВАЗ», принимающим решения по качеству автомобилей на территории Ставропольского края, и ведущим предприятием по сервисному и гарантийному обслуживанию ВАЗ.
    </p>
    <%= image_tag('pages/services/'+ @ppage + '/1.jpg', class: ' thumbnail pagesimg')%>
    <h3 class="uppercase main-color">1. Гарантия качества.</h3>

    <p class="pwoin">1.1 Качество автомобиля, а также конструкция и материалы комплектующих изделий соответствуют выданному на автомобиль «Одобрению типа транспортного средства», номер которого указан в сводной табличке заводских данных автомобиля и в паспорте транспортного средства.
      <br>
      1.2 Предметом гарантии является соответствие автомобиля, в комплектации, поставленной изготовителем, и его пригодность для использования по назначению в соответствии с заявленными потребительскими свойствами.
    </p>
    <h3 class="uppercase main-color">2. Срок действия гарантии и срок службы автомобиля</h3>
    <p class="pwoin">2.1 Гарантийный срок на новые автомобили LADA установлен изготовителем и составляет:
      <br>
      – для переднеприводных автомобилей – 36 месяцев или 100 тыс. км пробега (что наступит ранее);
      <br>
      – для полноприводных и заднеприводных автомобилей – 24 месяца или 50 тыс. км пробега (что наступит ранее),
      <br>
      за исключением случаев, предусмотренных настоящим гарантийным талоном;
      <br>
      2.2 Гарантийный срок исчисляется со дня передачи автомобиля первому потребителю.
      <br>
      2.3 Подтверждением предоставления изготовителем гарантии на автомобиль является выданный в установленном порядке гарантийный талон изготовителя, который необходимо предъявлять при каждом заезде на гарантийный ремонт, плановое техническое обслуживание, прохождение контрольно-осмотровых работ по состоянию ЛКП и антикоррозийного покрытия кузова. В случае порчи или утери, до его восстановления, автомобиль по гарантии обслуживаться не будет.
      <br>
      2.4 На отдельные комплектующие изделия, перечисленные ниже, установлена следующая гарантия:
      <br>
      -амортизаторы, подшипники качения, элементы системы отработавших газов, в том числе каталитические нейтрализаторы, датчики содержания кислорода – 12 месяцев или 35 тыс. км пробега (что наступит ранее);
      <br>
      -аккумуляторные батареи  -24 месяца;
      <br>
      -раздаточная коробка и промежуточные валы полноприводных автомобилей 24 месяца или 35 тыс. км пробега (что наступит ранее);
      <br>
      -наконечники, стойки, втулки рулевых тяг и стабилизаторов поперечной устойчивости, шаровые шарниры, сайлент-блоки, резинометаллические шарниры, опоры и буферы хода сжатия стоек, рычагов подвесок и силовых агрегатов, привода ведущих колес с защитными чехлами, резиновые шланги и патрубки, фары, выключатели, переключатели и приборы управления компонентами (модули управления: светотехникой, стеклоподъёмниками, обогревом сидений), тросы ручного привода тормоза, шланги гибкие переднего и заднего тормоза, водяной и электробензонасосы, расширительный бачок и его компоненты – для переднеприводных автомобилей 36 месяцев или 50 тыс. км пробега (что наступит ранее), для полноприводных и заднеприводных автомобилей – 24 месяца или 35 тыс. км пробега (что наступит ранее).
      <br>
      Предъявление требований в отношении недостатков указанных комплектующих изделий возможно в течение гарантийного срока на данные изделия. На замененные по гарантии указанные комплектующие изделия, предоставляется гарантия той же продолжительности в пределах срока гарантии, предусмотренного п.2.1 гарантийного талона.
      <br>
      2.5 Срок службы, составляет:
      <br>
      -для полноприводных автомобилей – 6 лет или 90 тыс. км пробега (что наступит ранее);
      <br>
      -для переднеприводных и заднеприводных автомобилей – 8 лет или 120 тыс. км пробега (что наступит ранее).
      <br>
      2.6 По истечении срока службы автомобиля его дальнейшая эксплуатация возможна при условии соблюдения владельцем законодательства РФ о безопасности дорожного движения и прохождения ежегодного технического осмотра, подтверждающего пригодность автомобиля к дальнейшей эксплуатации.
    </p>
    <h3 class="uppercase main-color">3. Область применения гарантии</h3>
    <p class="pwoin">3.1 Настоящая гарантия действует в отношении авто­мобилей LADA проданных и эксплуатируемых на территории Российской Федерации.
      <br>
      3.2 В течение гарантийного срока изготовитель обязуется устранять неисправности (дефекты материала, изготовления или сборки), возникшие в процессе эксплуатации автомобиля, при условии, что неисправности не возникли вследствие нарушения потребителем правил использования, хранения, транспортировки автомобиля, указанных в «Руководстве по эксплуатации автомобиля и его модификаций», «Сервисной книжке» и настоящем «Гарантийном талоне», естественного износа деталей и автомобиля в целом, действий третьих лиц, непреодолимой силы (пожара, природной катастрофы и т.д.).
      <br>
      3.3 Гарантийные обязательства изготовителя  действительны при своевременном и обязательном выполнении потребителем планового технического обслуживания автомобиля в уполномоченных организациях изготовителя, адреса которых указаны в Приложении № 1 к «Гарантийному талону». Плановое техническое обслуживание, контрольно-осмотровые работы по выявлению дефектов ЛКП и антикоррозийного покрытия кузова автомобиля проводится любой уполномоченной организацией изготовителя независимо от места жительства потребителя. Перечень уполномоченных организаций изготовителя может периодически меняться. До проведения работ необходимо получить консультацию у представителя организации о наличии статуса уполномоченной изготовителем организации. Актуальную информацию о наличии у предприятия соответствующих полномочий Вы можете получить по бесплатному телефону 8 800 200 41 41 горячей линии ОАО «АВТОВАЗ». ОАО «АВТОВАЗ» не несет ответственность за сроки и качество проведенного ремонта и иных работ на предприятии, исключенном из Приложения №1 на момент проведения работ на автомобиле.
      <br>
      3.4 Восстановление расходуемых эксплуатационных материа­лов (масла, применяемых жидкостей и др.) за счет гарантии производится только в том случае, если это связано с проведе­нием соответствующего гарантийного ремонта.
      <br>
      <br>3.5 Устранение в автомобиле неисправностей, возникших в период гарантии по вине изготовителя, выполняется за счет изготовителя. Срок устранения неисправностей исчисляется от даты приема автомобиля в ремонт до даты выдачи его из ремонта. Сроки начала работ могут быть согласованы между изготовителем (уполномоченным представителем) и потребителем дополнительно.
      <br>3.6 Устранение неисправностей эксплуатации и работы, выполняемые по талонам технического обслуживания и контрольно-осмотровых работ по состоянию ЛКП и антикоррозийного покрытия кузова, производятся за счет потребителя. За счет потребителя производятся также диагностические работы, проводимые по его инициативе и не связанные с устранением неисправностей, возникших по вине изготовителя в период гарантии, эксплуатационные регулировки вследствие ненадлежащей эксплуатации автомобиля, воздействия внешних и других факторов, в том числе: прочистка топливной системы, регулировка углов установки колеc, регулировка двигателя, осмотр и регулировка тормозов, регулировка механизма сцепления.
      <br>3.7 Изготовитель вправе по соответствующему уведомлению отозвать автомобиль в уполномоченную организацию изготовителя  для проведения осмотра или внеочередного технического обслуживания (ремонта) за счет изготовителя.
      <br>3.8 Потребитель обязан обеспечить сохранность Сервисной книжки», «Гарантийного талона». При порче/утере «Сервисной книжки», «Гарантийного талона» необходимо обратиться в ближайшую уполномоченную организацию изготовителя с письменным заявлением и указанием причин порчи/утери названных документов, а также предоставить копии заказ-нарядов проведенных плановых ТО и гарантийных ремонтов.
    </p>
    <h3 class="uppercase main-color">4. Антикоррозионная гарантия</h3>
    <p class="pwoin">4.1 Изготовитель гарантирует отсутствие  сквозной коррозии деталей кузова вследствие производственного дефекта материала, нарушения технологии изготовления или нанесения защитного покрытия, при условии соблюдения потребителем правил ухода за кузовом, изложенных в «Руководстве по эксплуатации автомобиля и его модификаций» и «Сервисной книжке». Срок данной гарантии составляет 6 лет с момента передачи автомобиля потребителю.

      <br>4.2 Данная гарантия предусматривает ремонт или замену соответствующей кузовной детали, производственный дефект которой признан уполномоченной организацией изготовителя.
      <br>4.3 Антикоррозионная гарантия применяется в зависимости от результатов ежегодных регулярных осмотров антикоррозионного покрытия кузова, с внесением соответствующих отметок в сервисную книжку. После проведения каждой антикоррозионной проверки потребитель должен убедиться в занесении соответствующих отметок в сервисную книжку. Данные отметки обеспечивают сохранение антикоррозионной гарантии на кузов.
      <br>4.4 Обнаруженные эксплуатационные повреждения кузова устраняются уполномоченной организацией изготовителя за счет потребителя..
      <br>4.5 На замененные кузовные детали антикоррозионная гарантия сохраняется до истечения срока антикоррозионной гарантии на автомобиль.
      <br>4.6 Для предъявления по гарантии любых рекламаций по коррозии владелец в каждом случае обязан предоставлять «Сервисную книжку» и «Гарантийный талон», заполненные должным образом.
      <br>4.7 При несвоевременном прохождении контрольно-осмотровых работ по состоянию ЛКП и антикоррозийного покрытия кузова, согласно талонам  «Сервисной книжки» гарантия изготовителя на кузов утрачивается. В течение 1-го года эксплуатации автомобиля контрольно-осмотровые работы по состоянию ЛКП и антикоррозийного покрытия кузова проводятся не позднее дня прохождения мероприятий по талону технического обслуживания № 2 на автомобиль.
      <%= image_tag('pages/services/'+ @ppage + '/2.jpg', class: ' thumbnail pagesimg')%>
    </p>
    <h3 class="uppercase main-color">5. Гарантийные обязательства изготовителя утрачивают силу, если имеет место одно из следующих обстоятельств:</h3>
    <p class="pwoin">5.1 Эксплуатация автомобиля в условиях, не соот­ветствующих требованиям «Руководства по эксплу­атации» и «Сервисной книжки»;

      <br>5.2 Невыполнение, несвоевременное или неполное выполнение технического обслуживания в уполномоченных организациях изготовителя в объемах и в сроки,    указанные в «Сервисной книжке»;
      <br>5.3 При несоответствии VIN-номера документации автомобиля с VIN-номером на автомобиле;
      <br>5.4 При внесении изменений в программное обеспечение, заводские настройки, параметры электронных блоков управления, изменение данных о пробеге в показаниях         одометра либо в других устройствах,  предусмотренных изготовителем;
      <br>5.5 Повреждение несущих элементов кузова вследствие механических воздействий, включая дорожно-транспортные происшествия, в т.ч.  ранее устраненных потребителем;
      <br>5.6 Установка газобаллонного оборудования.
    </p>
    <h3 class="uppercase main-color">6. Гарантия изготовителя не распространяется на:</h3>
    <p class="pwoin">6.1 Коррозионные процессы крепежных деталей, деталей подвески, трансмиссии, двигателя, элементов кузова и его отделки, деталей, не являющиеся элементами кузова (диски колес, детали выхлопной системы и т.д.), которые могут проявиться в процессе эксплуатации автомобиля.
      <br>6.2 Повреждения лакокрасочного покрытия кузова (сколы, царапины, истирания), в т.ч. эрозионный износ других защитных покрытий (сколы, истирание мастики и грунта), истирание лакокрасочного покрытия кузова по местам контакта сопрягаемых деталей, потеря блеска, помутнение, обесцвечивание, возникшие в процессе эксплуатации автомобиля. Коррозионные поражения кузова: стыков деталей, сварных швов, мест установок облицовок боковых стекол и мест креплений резьбовых соединений.
      <br>6.3 Нормальные уровни шума и вибрации.
      <br>6.4 На неисправности и повреждения, непосредственной или косвенной причиной которых могло стать проведение демонтажа, разборки и ремонта комплектующих изделий, деталей, узлов, агрегатов или автомобиля в целом, а также работ по установке любого дополнительного оборудования, замены или модификации программного обеспечения контроллеров неуполномоченными организациями изготовителя, а также внесение изменений в конструкцию автомобиля.
      <br>6.5 На неисправности и повреждения деталей, узлов и агрегатов автомобиля при отсутствии или повреждении идентификационной маркировки изготовителя на них.
      <br>6.6 Неисправности, возникшие в результате не устранения или несвое­временного устранения других неисправностей после их обнаружения уполномоченной организацией изготовителя, а так же возникшие в результате выполнения работ в не уполномоченных организациях изготовителя.
      <br>6.7 Регламентные работы при плановых технических обслуживаниях, включая диагностические и регулировочные работы, а также расходуемые при этом материалы и комплектующие.
      <br>6.8 Неисправности, возникшие  в результате применения не рекомендованных изготовителем эксплуатаци­онных материалов, масел и топлива.
      <br>6.9 Расходные автокомпоненты, в том числе горюче-смазочные материалы и эксплуатационные жид­кости всех систем автомобиля, щетки стеклоочистителя, предохранители, фильтры, лампы, све­чи зажигания, приводные ремни и соответствую­щие ролики, шины, тормозные колодки, диски и бара­баны, выжимной подшипник и диски сцепления. В случае проявления дефекта изготовления или брака материала  эти детали  заменяются по гарантии.
      <br>6.10 Неисправности и повреждения в результате механического, химического, термического или иного внешнего воздействия в следующих случаях:
      <br>– дорожно-транспортные происшествия, удары, царапины, следы попадания камней и других твердых предметов, град, действия третьих лиц;
      <br>– воздействие химически активных веществ, за­грязняющих окружающую среду, в том числе применяемых для предотвращения замерза­ния поверхности дорог, веществ растительно­го происхождения и продуктов жизнедеятель­ности животных;
      <br>– неисправности и повреждения, в том числе деталей трансмиссии, подвески и рулево­го управления, кузова автомобиля, возникшие из-за ошибочных действий при управлении автомобилем, неаккуратно­го вождения по неровному дорожному покрытию или перевозки грузов с нагрузкой, превышающей допустимые нормы и сопряженных с ударными нагрузками на детали автомобиля;
      <br>– применение некачественного топлива;
      <br>– обстоятельства непреодолимой силы (молния, по­жар, наводнение, землетрясение, военные действия, теракты и т. д.).
      <br>6.11 Окончательное решение по обнаруженным на автомобиле неисправностям принимает продавец, изготовитель или уполномоченная организация изготовителя.
    </p>
    <h3 class="uppercase main-color">7. Как воспользоваться гарантией изготовителя</h3>
    <p class="pwoin">7.1 Для того чтобы воспользоваться гарантией, потребителю необходимо:

      <br>7.1.1 Обратиться к любой уполномоченной организации изготовителя, указанной в Приложении 1 к Гарантийному талону или на официальном сайте ОАО «АВТОВАЗ». Актуальную информацию о наличии у предприятия соответствующих полномочий Вы можете получить по бесплатному телефону 8 800 200 41 41 горячей линии ОАО «АВТОВАЗ»;
      <br>7.1.2 Предъявить «Гарантийный талон», «Сервисную книжку», а в спорных случаях  «Паспорт транспортного средства» (ПТС), оформленные в установленном порядке  и содержащие всю ин­формацию об автомобиле, проведенных технических обслуживаниях, а также «Свидетельство о регистрации транспортного средства»;
      <br>7.1.3  Предъявить автомобиль уполномоченной организации изготовителя для подтверждения наличия неис­правности, попадающей под условия предос­тавления гарантии.
      <br>7.2 При невозможности передвижения автомобиля сво­им ходом необходимо обратиться в ближайшую уполномоченную организацию изготовителя для организации ремонта на месте или эвакуации автомобиля.  Доставка автомобиля на эвакуаторе до ближайшей уполномоченной организации изготовителя осуществляется за счет изготовителя.
      <br>7.3 Чтобы воспользоваться  антикоррозионной гарантией, потребитель должен предъявить надлежащим образом заполненную сервисную книжку с отметками о  результатах ежегодных контрольно-осмотровых работ по выявлению дефектов ЛКП и   антикоррозионного покрытия кузова, подтверждающими право на предоставление антикоррозионной гарантии.
    </p>
    Инженер по гарантии <strong>Самарин Михаил Михайлович</strong>
    +7 (928) 307-82-92
  </div>
</div>