<% @ppage = 'kuzovnoi'%>
<div class="page-header has-background-image" style="background-image:url(<%= image_path('pages/services/'+ @ppage + '/head.jpg')%>) ">
  <div class="overlay"></div>
  <div class="container">
    <h1 class="page-title toupp">
      порой все обходится удалением вмятин без покраски...
    </h1>

  </div>
</div>

<div class="page-content">
  <div class="container">


    <p class="pwin">Ее величество дорога и автомобиль – два понятия, не существующие друг без друга. Согласно теории вероятности, чем больше времени проводим за рулем, тем больше шансов поучаствовать в ДТП. Даже соблюдая безопасную скорость и дистанцию все равно работает правило «если не ты – то тебя». Рано или поздно приходится сталкиваться с кузовным ремонтом и покраской авто. Как в песне: “Если у вас нет дома, пожары ему не страшны”.  Опытные водители понимают, что «нельзя научиться плавать, не нахлебавшись воды». Даже правильно припаркованный автомобиль не застрахован от последствий града, падающих веток, сосулек, других предметов, или других зевак за рулем, и тому подобное. Порой все обходится удалением вмятин без покраски, если повезет.</p>
    <%= image_tag('pages/services/'+ @ppage + '/1.jpg', class: ' thumbnail pagesimg')%>
    <p class="pwin">Новости пестрят количеством аварий. Не всем и не всегда, к сожалению, везет. Количество автомобилей постоянно увеличивается, теория вероятности работает. Главное, чтобы люди не пострадали, а «железо», как говорится, все выдержит. Сильно побитые автомобили, попадая в руки к высококвалифицированным специалистам, через некоторое время выглядят, как новенькие. А хорошие специалисты зачастую встречаются только на солидных станциях технического обслуживания, таких как ЗАО ПФ «Автостар». Здесь проведут кузовной ремонт в полном соответствии с технологией. На современном стенде сделают вытяжку кузова, удаляя сложные перекосы. Ремонт деталей кузова, рихтовочные и  сварочные работы, в том числе сварку алюминиевых деталей с использованием аргона, что позволяет сохранить дорогостоящую деталь. Здесь же проведут все последующие работы по подготовке и покраске автомобиля.</p>
    <%= image_tag('pages/services/'+ @ppage + '/2.jpg', class: ' thumbnail pagesimg')%>
    <p class="pwin">Порой за появление повреждений кузова можно благодарить самих себя. Маленький кузовной ремонт у горе-специалистов приводит к тому, что покрашенная деталь отличается цветом, имеет заметное утолщение, машина выглядит покалеченной. Случится может всякое: спешная неудачная парковка с повреждением порога или крыла, незамеченные предметы при открывании дверей или при использовании заднего хода,  тесное место для проезда и так далее. И, кажется, что вмятина, похожая на сдутый резиновый мяч, просто сама просится, чтобы ее легонько выровняли (краска не повреждена, металл не заломлен). Специалисты нашей станции ответственно проводят удаление вмятин без покраски, и даже страховые компании признают, что такой ремонт не переводит автомобиль в разряд покрашенных, послеремонтных,  что  не оказывает отрицательного влияния на оценочную стоимость машины.</p>

    <p class="pwin">Мы используем серьёзную технологию, изобретенную немцами еще в 1932 году. С тех пор и по сей день она применяется на заводах и станциях обслуживания Mersedes Benz. На сегодняшний день – и на ЗАО ПФ «Автостар». Это самый экономически выгодный и эффективный метод ремонта металлических деталей поверхности кузова со времени создания автомобиля. Если вмятина не привела к повреждению лакокрасочного покрытия, то вероятность восстановления стремится к 99,9 %. Только грамотно обученный специалист, используя специальные инструменты, вакуумные вытяжки и клеевые системы может провести удаление вмятин без покраски.</p>
  </div>

</div>