<% @ppage = 'malyarka'%>
<div class="page-header has-background-image" style="background-image:url(<%= image_path('pages/services/'+ @ppage + '/head.jpg')%>) ">
  <div class="overlay"></div>
  <div class="container">
    <h1 class="page-title toupp">Покраска автомобиля -
      сложный, строго регламентированный процесс...
    </h1>

  </div>
</div>

<div class="page-content">
  <div class="container">
    <p class="pwin"> Цвет автомобиля влияет на наш выбор весьма ограничено. Приобретая автомобиль, можно определиться, какой цвет не подходит и только: выбирать оттенки любимого цвета определенной модели не приходиться. Дело в том, что любой автопроизводитель, запуская в серию модель, определяет ограниченное количество цветов, тем самым диктуют моду,  давая им замысловатые названия. Ничего общего с художеством, строго технологические определения, исходя из химического состава краски  и способа её нанесения. Так появляется заводской  шилдик с номером-кодом краски в строго определенном месте на кузове каждого автомобиля.</p>
    <%= image_tag('pages/services/'+ @ppage + '/1.jpg', class: ' thumbnail pagesimg')%>
    <p class="pwin"> А это значит,  что приходя в салон за новым автомобилем, вы уже определились с маркой, моделью, комплектацией и смирились с цветом из предложенных. И когда приобретаете подержанный автомобиль,  цвет будет последним значимым понятием из следующего ряда: модель, тип двигателя, год выпуска, техническое состояние, цена. Конечно, существует возможность покраски автомобиля: цвет можно сменить, подобрав любой оттенок любого колора, придать ему специфические свойства – но это уже тюнинг, в большей степени художественное оформление.</p>

    <p class="pwin"> Следует понимать, что краска на автомобиле несет не только эстетические функции, но она является специальным антикоррозийным покрытием металла кузова. И заводской метод нанесения краски на металл конструкции в корне отличается от покраски(перекраски) автомобиля, связанной со сменой цвета или необходимым ремонтом при повреждении лакокрасочного покрытия.</p>
    <%= image_tag('pages/services/'+ @ppage + '/2.jpg', class: ' thumbnail pagesimg')%>
    <p class="pwin"> Так или иначе, в ходе эксплуатации автомобиля приходится сталкиваться с восстановлением лакокрасочного покрытия, страдающего  вследствие механических или химических повреждений. Для этого существуют специальные материалы и определенные технологии. Покраска автомобиля – это не только творческий процесс нанесения краски, но и сложный строго регламентированный систематизированный  процесс. Определенно это – симбиоз художественного мастерства, специальных  знаний,  опыта и навыков.</p>

    <p class="pwin"> Когда непосвященному человеку рассказывают вкратце о последовательности необходимых операций от подготовки поверхности, обезжиривания, шпатлевания, грунтования, нанесения краски в несколько слоев, лака, полировки (и все это с соблюдением временных интервалов просушки, затвердевания, запекания, еще и при соблюдении температурных режимов,  влажности и чистоты помещения) – он оказывается в недоумении. Казалось небольшая вмятина или царапина – а требует столько труда и времени на ее устранение.</p>
    <p class="pwin"> Огромное значение имеет инструмент и специально оборудованное помещение, без которых только на одном мастерстве специалиста не получится качественной покраски. Более того необходимо следить, чтобы новый слой краски надежно держался на  поверхности, но не имел визуальных дефектов, не говоря о точном и равномерном совпадении цвета. Все это сложно объяснять для понимания, но зато это вполне реально в повседневной работе специалиста. И, конечно, дело мастера боится. Квалифицированный специалист только с помощью краскопульта, меняя величину и направления шлейфа, может сотворить несколько оттенков, подобранной с помощью компьютерной технологии, краски.</p>
    <%= image_tag('pages/services/'+ @ppage + '/3.jpg', class: ' thumbnail pagesimg')%>
    <p class="pwin"> Здесь мы описали лишь немного из того, чем владеют мастера покраски нашей фирмы, имеющие большой опыт и профессиональные знания. Рекомендуем  услуги  ЗАО ПФ «Автостар» с гарантией качества выполненных в полном объеме работ как альтернативу покраски вашего автомобиля у свободных художников, творящих под девизом: “как пойдет, как краска ляжет”.</p>
  </div>
</div>