<% @ppage = 'otherservice'%>
<div id="tech_osmotr" data-section-title="tech_osmotr"></div>
<div class="page-header has-background-image" style="background-image:url(<%= image_path('pages/services/'+ @ppage + '/head.jpg')%>) ">
  <div class="overlay"></div>
  <div class="container">
    <h1 class="page-title toupp">
      мы предлагаем полный спектр услуг для вас и вашего авто

    </h1>

  </div>
</div>

<div class="page-content">
  <div class="container">

      <div class="row">
          <h3 class="name heading-border-left border-primary uppercase">технический осмотр</h3>
          <div class="margin-top-30"></div>
          <p class="pwin">
            Много автомобилей импортного производства на наших дорогах переходят от
            одного владельца к другому. Хорошо если вам удалось приобрести машину без
            пробега по СНГ. За границей не все приобретают новые авто из салонов, там также практикуется перепродажа подержанных автомобилей.
          </p>
          <p class="pwin">
            Но там при покупке автомобиля с пробегом обязательно прилагается сервисная
            книжка данного авто со всеми печатями и отметками станций, проводивших техническое обслуживание,
            чеками об оплате. И просмотрев такую книжку, покупатель получает полное представление о пробеге,
            содержании и эксплуатации, соответственно и реальной цены приобретаемой машины. Это не является подобием
            обязательного техосмотра, просто при отсутствии сервисной книжки цена на автомобиль падает в разы. И прямая
            дорога такой машине на постсоветское пространство.
          </p>
          <%= image_tag('pages/services/'+ @ppage + '/1.jpg', class: ' thumbnail pagesimg2')%>
          <p class="pwin">
            Эксплуатируя свой автомобиль мы, так или иначе, стараемся своевременно проводить его
            техническое обслуживание, для себя же, для своей безопасности и уверенности, что он не
            подведет на дороге. Но когда дело доходит до его продажи, все зачастую сводится к предпродажной
            подготовке – наведению видимого марафета. Однако покупая себе автомобиль, нам очень хочется узнать о
            его реальном техническом состоянии. Тут мало кто смотрит на наличии талона про технический осмотр, прекрасно
            понимая, что он мало несет полезной информации.
          </p>
          <p class="pwin">
            При покупке приглашаем знакомых, разбирающихся в таких вопросах, обнадеживая себя, что получим
            ценный совет. Хотя можно получить только смутное представление об условиях эксплуатации, даже о
            достоверном пробеге продаваемого автомобиля. На авторынках есть много советчиков, экспертов, но не стоит
            забывать, что их доход прямо зависит от самого факта продажи, и грош цена в базарный день их советам.
          </p>
          <p class="pwin">
            Реально проверить состояние и предыдущее техническое обслуживание можно только на СТО, когда автослесарь
            поднимет машину на подъёмнике. Вы вместе с ним сможете основательно осмотреть все и потрогать, при этом получить
            квалифицированный и аргументированный комментарий специалиста. У не прилежного продавца, как правило, найдется масса причин и
            отговорок не делать этого. С 2012 года официально отменили техосмотр в старом его понимании и исполнении. Как бы и радость:
            не надо непонятно кому и за что платить деньги. Меньше стало поводов для придирок и штрафов от блюстителей порядка на дорогах.
            Однако это не означает, что его не стало совсем. И это правильно, а то страшно представить, что бы выехало на наши дороги.
          </p>
          <%= image_tag('pages/services/'+ @ppage + '/2.jpg', class: ' thumbnail pagesimg2')%>
          <p class="pwin">
            Талон ТО заменили на диагностическую карту. Сам осмотр теперь проводится на СТО, в том числе и частных, прошедших
            аккредитацию и получивших соответствующую лицензию. С радостью хотим сообщить вам, что ЗАО ПФ «Автостар» является
            аккредитованным оператором технического осмотра транспортных средств с 26.01.2012, номер в реестре операторов технического
            осмотра: 05040, область аккредитации: М1. Диагностическая карта представляет собой номерной бланк, и содержит 65 пунктов
            для проверки состояния автомобиля. Данные карты заносятся в общую базу на компьютере. Без этой карты невозможно приобрести
            полис обязательного страхования ОСАГО. Пройти осмотр и получить карту можно в любом регионе, без привязки к регистрации транспортного средства.
          </p>

          </p>
        <div id="nezavisimay_ocenka" data-section-title="nezavisimay_ocenka"></div>
          <p class="pwin">
            При оформлении купли-продажи автомобиля придется переоформлять регистрационные документы, понадобится страховка, которую
            без диагностической карты не купить. Карту можно получить в любом регионе, на СТО имеющих аккредитацию и лицензию, и это
            уже не «шарашкина» контора. Даже если диагностическая карта была утеряна, ее можно восстановить по базе. Прохождение осмотра
            или восстановление карты — это стандартная процедура для аккредитованных станций, и по закону они не имеют права отказать. Даже
            случайно оказавшись в Пятигорске вы можете получить эти услуги на нашем автосервисе.
          </p>

        </div>



    <hr>
    <div class="row">
      <h3 class="name heading-border-left border-primary uppercase">независимая оценка</h3>
      <div class="margin-top-30"></div>
      <p class="pwin">
        Мы предлагаем услуги в сфере оценки всех видов собственности, в том числе:<br/>
        1. Оценка рыночной стоимости для списания с баланса предприятия:<br/>
        – транспортных средств: зарубежного и отечественного производства;<br/>
        – объектов недвижимости: здания, сооружения;<br/>
        – предметов мебели и интерьера;<br/>
        – машин и оборудования: серийное технологическое,
        специальное, технологическая линия, оргтехника, вычислительная техника, средства связи, строительная и дорожная техника, подъемно-транспортные машины;<br/>
        – С/х техника: комбайны и другие самоходные машины.<br/>
        2. Оценка стоимости ущерба, возникшего в результате внешних воздействий квартиры, жилых и производственных зданий и сооружений.<br/>
        3. Оценка стоимости ущерба транспортного средства при ДТП легковых, грузовых и автобусов зарубежного и отечественного производства, а
        так же исследование транспортных средств в целях определения стоимости восстановительного ремонта и остаточной стоимости.<br/>
        4. Оценка бизнеса для различных целей.<br/>
        5. Оценка различных активов для целей кредитования в банках под залог оцениваемого имущества, а так же оценка заложенного имущества по непогашенным кредитам в банках.<br/>
        6. Определение стоимости страхуемого имущества.<br/>
        7. Переоценка основных средств.<br/>
        8. Оценка права аренды при передачи имущества в аренду.<br/>
        9. Оценка незавершенного строительства здания и сооружения.<br/>
      <div id="avto_strahovanie" data-section-title="avto_strahovanie"></div>
        10. Транспортно- трасологическая диагностика. Рассудите разумно: не дай Бог наступил страховой случай для возмещения ущерба,
        нанесенного вашему автомобилю вследствие ДТП. Страховая компания проводит свою экспертизу, естественно, по законам коммерции
        ищет причину в отказе или занижению денежной компенсации. Пригодится ли вам независимая оценка от ЗАО ПФ «Автостар», солидного
        предприятия, специализирующего на оказании услуг автосервиса, сертифицированного для проведения техосмотра и гарантийного ремонта
        автотранспорта? Разумеется, да. И когда вы обратитесь к нам для выполнения ремонта вашей машины, у вас просто не будет никаких шансов понести убытки.<br/>
        Для более полной информации просим обращаться по телефонам 8 (8793) 32-54-94 или +7 (928)-634-05-84.
      </p>


    </div>
    <hr>
    <div class="row">
      <h3 class="name heading-border-left border-primary uppercase">автострахование</h3>
      <div class="margin-top-30"></div>
      <p class="pwin">
        Мы сотрудничаем со следующими Страховыми компаниями:<br/>
        ОАО Росгосстрах<br/>
        СПАО Ингосстрах<br/>
        ОАО ГСК Югория
      </p>
      <div id="avto_atele" data-section-title="avto_atele"></div>
      <p class="pwin">
        Для расчета стоимости полиса можно звонить по телефонам: +7(928)3421723, 8(8793)322219 доб. 111
        Время работы: Пн-Пт с 8-00 до 19-00, Сб-Вс с 8-00 до 18-00. Без перерыва, без выходных
      </p>
    </div>
    <hr>
    <div class="row">
      <h3 class="name heading-border-left border-primary uppercase">автоателье</h3>
      <div class="margin-top-30"></div>
      <p class="pwin">
        "Автостар" рад предложить вам широкий спектр работ в области Автоателье: от мелкого ремонта до пошива салона по индивидуальному запросу.
        Мы единственная организация, которая дает все гарантии высокого качества предоставляемых услуг, при доступных ценах.
      </p>

      <%= image_tag('pages/services/'+ @ppage + '/3.jpg', class: ' thumbnail pagesimg2')%>
      <p class="pwin">
        Среди наших услуг: перетяжка сидений, обивка потолка и торпедо, перетяжка салона автомобиля кожей.
        Также если вас заинтересует пошив автомобильных чехлов, обивка салона или перетяжка салона тканью обращайтесь к нам,
        мы выполним работу быстро и качественно и без нервов. Стоит отметить, что у нас есть возможность полной замены обивки салона
        4на абсолютно любом автомобиле. Плюс ко всему мы можем обтянуть салон алькантарой или кожей.
      </p>


    </div>








  </div>
</div>