<% @ppage = 'razval'%>
<div class="page-header has-background-image" style="background-image:url(<%= image_path('pages/services/'+ @ppage + '/head.jpg')%>) ">
  <div class="overlay"></div>
  <div class="container">
    <h1 class="page-title toupp">
      Развал-Схождение
    </h1>

  </div>
</div>

<div class="page-content">
  <div class="container">
    <h3 class="uppercase main-color" align="center">Новейшее оборудование основанное на 3D технологии</h3>
    <p class="pwin">Компьютерный стенд 3D имеет массу преимуществ перед традиционными лазерными системами.
      Он обеспечивает максимальную точность проверки, удобство и скорость работы, т.к. требует минимального времени для установки и настройки датчиков.
      Не требуется зарядка аккумуляторов, нет никаких проводов.
      Самое свежее программное обеспечение, широчайшая база данных, оптимизированный процесс работы, удобные подсказки и руководства, не говоря уж о традиционной возможности распечатки результатов.
      Всё это, несомненно, заинтересует любой цивилизованный сервис.</p>

    <p class="pwin">Но зачем, спросите Вы, всё это мне нужно для моего авто?  3D, что такого в нём необычного? Вот на этом я и хочу заострить внимание.
      В обычных системах для измерения углов по вертикали используются жидкостные датчики, а по горизонтали углы измеряются при помощи лазерных лучей или даже шнуров (кое-где ещё остались и такие экспонаты).
    </p>
    <%= image_tag('pages/services/'+ @ppage + '/1.jpg', class: ' thumbnail pagesimg')%>
    <p class="pwin">Массивные блоки датчиков вешаются непосредственно на колёса, и обеспечивают достаточно высокую точность измерений – до одной сотой градуса.
      Но такие датчики требуют регулярных проверок и калибровок.
      Достаточно ударить или уронить блок – и необходимо обращаться к дистрибутору для настройки, а это время и деньги.
      Спросите любого сервисмена: «Как давно Ваш стенд был на калибровке?». Вряд ли вы услышите правду.
    </p>
    <p class="pwin">В стенде 3D, на колёса вешаются лёгкие мишени, представляющие алюминиевые пластины в ударопрочном пластике. Измерения производятся при помощи стационарно закреплённых на стене или колонне высокоточных видеокамер. Отсюда и название комплекса – HAWKEYE (Соколиный глаз).
      Такая система позволяет измерять углы даже с точностью больше чем 0,01 град., хотя на практике большая точность не используется из-за отсутствия необходимости.
      Для обеспечения требуемой точности измерений, калибровка камер осуществляется по необходимости, а проверка настройки камер может быть осуществлена персоналом, эксплуатирующим установку, в любое время!
      Таким образом, стенд 3D в сравнении с традиционными стендами измерения углов установки колёс обеспечивает не просто высокую точность, а ГАРАНТИРОВАННУЮ ТОЧНОСТЬ измерений.
    </p>
    <%= image_tag('pages/services/'+ @ppage + '/2.jpg', class: ' thumbnail pagesimg')%>
    <p class="pwin">Но это ещё не всё.
      В отличие от систем, где измерение углов производится напрямую, стенд  «видит» автомобиль со стороны, и компьютер строит виртуальную пространственную модель измеряемого автомобиля (это и называется 3D моделированием).
      Такой способ измерения имеет практически неограниченные возможности.
      Например, вычислить и вывести горизонтальные линейные измерения колёсной базы, ширины колеи, вылета колёс и величины смещения для каждого колеса отдельно!
      Таким образом, стенд обеспечивает быструю проверку параметров находящихся все спецификаций по углам установки колёс, вызванных нарушением симметрии кузова или смещением осей. Выдаёт информацию, о том, что кузов автомобиля, возможно был восстановлен после аварии. И эти результаты также можно распечатать.
      А если доукомплектовать стенд дополнительными мишенями, крепящимися на кузове, то появляется возможность измерений кузова не только в горизонтальной  плоскости, но и в вертикальной, такие как силовой рычаг крена, смещение продольного наклона оси поворота относительно центра вращения, отклонение оси симметрии кузова, свес кузова, крен кузова, просадку пружин и т.д.
      Так что, если у вас появились сомнения в правильности установки колёс или геометрии кузова, машину уводит от прямолинейного движения, на автомобиле производился ремонт кузова или ходовой части, при неравномерном износе резины, ударились об бордюр и т.д…
      Часто причиной нарушения управляемости и устойчивости автомобиля является неправильная или неточная регулировка углов установки колес, или, попросту говоря, нарушены развал и схождение колес. Мы поговорим о том, что такое развал и схождение колес, а также о том, как их регулировать.
    </p>
    <%= image_tag('pages/services/'+ @ppage + '/3.jpg', class: ' thumbnail pagesimg')%>
    <h3 class="uppercase main-color" align="center">Схождение колес</h3>
    <p class="pwin">Нормальное схождение передних колес (вообще, говорят — «управляемых», но сейчас нигде не встретишь задних управляемых колес) — важный фактор устойчивости автомобиля. Схождение передних колес определяют, подсчитав разность между кромками ободьев колес в их заднем и переднем положениях, замеренных на высоте центра колес между одними и теми же точками обода. если разность отличается от рекомендованной, схождение нуждается в регулировке.
      Точную установку схождения выполняют только в Сервисном центре «Автостар», предварительно проверив надежность крепления рычага рулевой трапеции к поворотной стойке, соединения конусов пальцев шаровых шарниров рулевых тяг, крепления сошки и маятникового рычага и развал колес. Если Вы проводили ремонт ходовой части, необходимо провести регулировку РСх.
      Схождения колес регулируется изменением длины боковых рулевых тяг. Для этого ослабляют стяжные хомуты и поворачивают регулировочные муфты на одинаковую величину в противоположных направлениях, изменяя длину боковых тяг. По окончании регулировки хомуты затягиваются так, чтобы их концы после затягивания не соприкасались.
    </p>
    <h3 class="uppercase main-color" align="center">Развал колес</h3>
    <p class="pwin">Для проверки развала колес нужно, чтобы давление воздуха в шинах колес было нормальным, диски колес не были погнуты, а шины — изношены, свободный ход рулевого колеса должен соответствовать норме. Перед проверкой развала убедитесь в исправности шарниров рычагов передней подвески, шаровых опор передней подвески, штоков амортизаторов.
      Развал регулируется изменением числа прокладок между осью нижнего рычага и поперечиной (ВАЗовская классика и Нива) или поворотом эксцентрика на передней стойке (переднеприводные ВАЗы).
    </p>
    </div>
</div>