<% @ppage = 'stekla'%>
<div class="page-header has-background-image" style="background-image:url(<%= image_path('pages/services/'+ @ppage + '/head.jpg')%>) ">
  <div class="overlay"></div>
  <div class="container">
    <h1 class="page-title toupp">
      При небольших повреждениях стекла дешевле его отремонтировать - чем покупать новое

    </h1>

  </div>
</div>

<div class="page-content">
  <div class="container">
    <p style="background-color: #376baf;
        color: #fff;
        border-radius: 4px;
        padding: 20px;">
      <span style="font-size: 20px;font-weight: bold;">Схема работы:</span><br><br>
      1. Звонок менеджеру по телефонам  <span  style="font-weight: bold;
        font-size: 17px;
        background-color: #fff;
        color: #376baf;
        padding: 5px;
        border-radius: 4px;">8 (928) 358-96-48 </span>  и  <span  style="font-weight: bold;
        font-size: 17px;
        background-color: #fff;
        color: #376baf;
        padding: 5px;
        border-radius: 4px;">8 (962) 007-99-37 </span> . Именно у менеджера вы можете получить любую интересующую вас информацию. Если решили вставить стекло у нас, уточняется модель автомобиля и тип стекла в соответствии с возможностями и потребностями заказчика.<br>
      2. Приезд в мастерскую. Время пребывания авто в мастерской зависит от возможности заказчика обеспечения необходимых условий для высыхания клея: если есть такая возможность (особый температурный режим), авто можно будет забрать в течение дня, если возможности нет, авто забирают через сутки (за это время клей высыхает в мастерской).<br>
      3. Сдача-приемка работ, оплата. Оплата производится непосредственно после выполнения всех работ.<br>
      <br>
      
      Мы рады видеть Вас :<br>
      с 9.00 до 17.00 в будние дни.<br>
      с 9.00 до 14.00 в субботу.
    </p>
    <p class="pwin">Основными причинами возникновения трещин и сколов на лобовом стекле автомобиля являются - попадание камней и шипов во время движения или из-за резких перепадов температуры.
 </p>
    <p class="pwin">Ни одна из представленных на современном рынке систем для ремонта и восстановления дефектов лобового стекла не может гарантировать 100 % визуального восстановления поврежденной поверхности.

    </p>
    <%= image_tag('pages/services/'+ @ppage + '/1.jpg', class: ' thumbnail pagesimg')%>
    <p class="pwin">Таким образом, если вы рассчитываете на улучшение внешнего вида поврежденной поверхности более чем на 80 – 95 %, то следует серьезно подумать о полной замене поврежденного лобового стекла. Все ремонтно-восстановительные работы представляют собой определенный компромисс, но большинство наших клиентов остаются довольными качеством восстановительных работ, так как они обеспечивают не только значительное улучшение внешнего вида поврежденной поверхности, но и надежную защиту от дестабилизации и разрушения структуры стекла.
    </p>
    <p class="pwin">
      По времени, ремонт автостекла у нас в мастерской, обычно занимает от получаса до двух часов.
    </p>
    <%= image_tag('pages/services/'+ @ppage + '/2.jpg', class: ' thumbnail pagesimg')%>
    <p class="pwin">Технология, по которой производится ремонт лобовых стекол, с успехом используется уже более 15 лет. Коммерческим является ремонт, стоимость которого не превышает половину суммы, необходимой для покупки и установки нового стекла. Иначе ремонт считается нерентабельным, т.к. владелец скорее предпочтет его замену.
    </p>
  </div>

</div>