<% @ppage = 'shino'%>
<div class="page-header has-background-image" style="background-image:url(<%= image_path('pages/services/'+ @ppage + '/head.jpg')%>) ">
  <div class="overlay"></div>
  <div class="container">
    <h1 class="page-title toupp">
Шиномонтаж - чуть ли не самая важнейшая технологическая операция

    </h1>

  </div>
</div>

<div class="page-content">
  <div class="container">
    <p class="pwin">Шиномонтаж чуть ли не самая важнейшая технологическая операция, определяющая пробег шин, комфортность, правильность использования резины и безопасность езды. От корректной балансировки дисков и покрышек в существенной мере зависит качество работы ресурса автомобиля и всей его ходовой части.
    </p>
    <p class="pwin">В нашем наличии есть современное оборудование Итальянской фирмы Sicam, которое позволяет производить шиномонтаж в Пятигорске для колес от 12 до 24 дюймов, а также для шин типа Run Flat и низкопрофильных шин. Традиционно помимо балансировки колес и шиномонтажа можно получить качественные услуги по всем видам ремонтных работ, а также по ремонту боковых порезов и проколов, профессиональной мойке и очистке колес.
    </p>
    <%= image_tag('pages/services/'+ @ppage + '/1.jpg', class: ' thumbnail pagesimg')%>
    <p class="pwin">За продолжительное время работы наши мастера смогли выработать уникальные технологии, способные исправлять поверженные участки таким образом, что разницы между до и после невозможно разобрать. Весь опыт и современное оборудование позволяет производить ремонт дисков быстро, профессионально, надежно и эффективно.
    </p>
    <p class="pwin">Обратившись в ЗАО ПФ «Автостар» вы бесплатно получаете диагностику поврежденных дисков, с последующим предложением вам вариантов дальнейшего ремонта. Только мы даем 100 % гарантии качества выполняемых работ.
      Время ремонта в среднем занимает около 40 минут. Все процедуры будут проводиться в вашем присутствии и по окончании мы установим их на ваш автомобиль. Наслаждаться ездой — это все, что вам потребуется далее.
    </p>

    <p class="pwin">Стоит добавить, что ремонт дисков требует обязательным образом индивидуальный подход и сочетать в себе комбинацию разных технологий, выбор которых зависит от типа повреждения. Все это в полном объеме выполняется в нашей организации.
      При работе мы используем высококачественные и дорогие расходные материалы и только те методы ремонта, которые способны дать качественный результат. Также ЗАО ПФ «Автостар» предоставляет услуги шиномонтажа, балансировки и ремонта боковых порезов шин и грыж. Мы готовы предоставить гарантию на ремонт до полного износа. Приезжайте к нам в любое рабочее время, запись для этого не требуется.
    </p>
  </div>

</div>