<% @ppage = 'to_remont'%>
<div class="page-header has-background-image" style="background-image:url(<%= image_path('pages/services/'+ @ppage + '/head.jpg')%>) ">
  <div class="overlay"></div>
  <div class="container">
    <h1 class="page-title toupp">
      Техническое Обслуживание
      и технический ремонт
    </h1>

  </div>
</div>

<div class="page-content">
  <div class="container">
      <h3 class="maincl" align="center">Качественное и полное соблюдение регламента технического обслуживания — гарант надежности автомобиля, и
        безопасности водителя и пассажиров!</h3>
      <p class="pwin" >Плановое техническое обслуживание Вашего автомобиля необходимо производить для обеспечения надёжной и безопасной его
        эксплуатации. Своевременное техническое обслуживание способствует выявлению имеющихся неисправностей, значительно
        снижает Ваши затраты на топливо, а так же продлевает срок службы автомобиля. Это приводит к значительной экономии
        Ваших денежных средств и времени.</p>
      <table class="table table-bordered table-hover margin-top-30">
        <tbody>
        <tr>
          <th class="thead1" rowspan="3"><strong><sub>LADA Granta</sub></strong></th>
          <th class="thead1" colspan="2"><strong><sub>ТО-1</sub></strong></th>
          <th class="thead1" colspan="2"><strong><sub>ТО-2</sub></strong></th>
          <th class="thead1" colspan="2"><strong><sub>ТО-3</sub></strong></th>
          <th class="thead1" colspan="2"><strong><sub>ТО-4</sub></strong></th>
          <th class="thead1" colspan="2"><strong><sub>ТО-5</sub></strong></th>
          <th class="thead1" colspan="2"><strong><sub>ТО-6</sub></strong></th>
        </tr>

        <tr>
          <td class="thead2" colspan="2" align="center"><sub>2000-3000 км.</sub></td>
          <td class="thead2" colspan="2" align="center"><sub>14500-15500 км.</sub><sub><br>
            или через<br>
            1 год экспл.</sub></td>
          <td class="thead2" colspan="2" align="center"><sub>29500-30500 км.<br>
            или через<br>
            2 года экспл.</sub></td>
          <td class="thead2" colspan="2" align="center"><sub>44500-45500 км.<br>
            или через<br>
            3 года экспл.</sub></td>
          <td class="thead2" colspan="2" align="center"><sub>59500-60500 км.<br>
            или через<br>
            4 года экспл.</sub></td>
          <td class="thead2" colspan="2" align="center"><sub>74500-75500 км.<br>
            или через<br>
            5 лет экспл.</sub></td>
        </tr>
        <tr>
          <th class="thead1" align="center" valign="top"><sub>Работа, руб.</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Материалы, руб., min-max</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Работа, руб.</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Материалы, руб., min-max</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Работа, руб.</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Материалы, руб., min-max</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Работа, руб.</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Материалы, руб., min-max</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Работа, руб.</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Материалы, руб., min-max</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Работа, руб.</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Материалы, руб., min-max</sub></th>
        </tr>
        <tr>
          <td width="120"><sub>Гранта-21900 – 8 кл. ДВС</sub></td>
          <td align="center"><sub>459</sub></td>
          <td align="center"><sub>430 – 430</sub></td>
          <td align="center"><sub>2840.4</sub></td>
          <td align="center"><sub>2340 – 2340</sub></td>
          <td align="center"><sub>2683.8</sub></td>
          <td align="center"><sub>3640 – 3640</sub></td>
          <td align="center"><sub>2921.4</sub></td>
          <td align="center"><sub>2690 – 2690</sub></td>
          <td align="center"><sub>2791.8</sub></td>
          <td align="center"><sub>3640 – 3640</sub></td>
          <td align="center"><sub>–</sub></td>
          <td align="center"><sub>–</sub></td>
        </tr>
        <tr>
          <td width="120"><sub>Гранта- 21901 – 8 кл. ДВС</sub></td>
          <td align="center"><sub>0</sub></td>
          <td align="center"><sub>–</sub></td>
          <td align="center"><sub>2716.2</sub></td>
          <td align="center"><sub>1910 – 1910</sub></td>
          <td align="center"><sub>2559.6</sub></td>
          <td align="center"><sub>3210 – 3210</sub></td>
          <td align="center"><sub>2797.2</sub></td>
          <td align="center"><sub>2260 – 2260</sub></td>
          <td align="center"><sub>2667.6</sub></td>
          <td align="center"><sub>3210 – 3210</sub></td>
          <td align="center"><sub>–</sub></td>
          <td align="center"><sub>–</sub></td>
        </tr>
        <tr>
          <td width="120"><sub>Гранта – 21902 – 16кл. ДВС</sub></td>
          <td align="center"><sub>0</sub></td>
          <td align="center"><sub>430 – 430</sub></td>
          <td align="center"><sub>2403</sub></td>
          <td align="center"><sub>2340 – 2340</sub></td>
          <td align="center"><sub>2538</sub></td>
          <td align="center"><sub>3640 – 3640</sub></td>
          <td align="center"><sub>2484</sub></td>
          <td align="center"><sub>2690 – 2690</sub></td>
          <td align="center"><sub>2835</sub></td>
          <td align="center"><sub>3640 – 3640</sub></td>
          <td align="center"><sub>–</sub></td>
          <td align="center"><sub>–</sub></td>
        </tr>
        <tr>
          <td width="120"><sub>Гранта- 21905 _ 16кл. ДВС</sub></td>
          <td align="center"><sub>–</sub></td>
          <td align="center"><sub>–</sub></td>
          <td align="center"><sub>2349</sub></td>
          <td align="center"><sub>1910 – 1910</sub></td>
          <td align="center"><sub>2484</sub></td>
          <td align="center"><sub>3210 – 3210</sub></td>
          <td align="center"><sub>2430</sub></td>
          <td align="center"><sub>2690 – 2690</sub></td>
          <td align="center"><sub>2781</sub></td>
          <td align="center"><sub>3210 – 3210</sub></td>
          <td align="center"><sub>–</sub></td>
          <td align="center"><sub>–</sub></td>
        </tr>
        <tr>
          <td width="120"><sub>Гранта – 21907 – 16 кл. ДВС</sub></td>
          <td align="center"><sub>0</sub></td>
          <td align="center"><sub>430 – 430</sub></td>
          <td align="center"><sub>2349</sub></td>
          <td align="center"><sub>2340 – 2340</sub></td>
          <td align="center"><sub>2484</sub></td>
          <td align="center"><sub>3640 – 3640</sub></td>
          <td align="center"><sub>2430</sub></td>
          <td align="center"><sub>2690 – 2690</sub></td>
          <td align="center"><sub>2781</sub></td>
          <td align="center"><sub>3640 – 3640</sub></td>
          <td align="center"><sub>–</sub></td>
          <td align="center"><sub>–</sub></td>
        </tr>
        <tr>
          <th class="thead1" style="text-align: center;" rowspan="3"><strong><sub>LADA Kalina</sub></strong></th>
          <th class="thead1" colspan="2"><sub>ТО-1</sub></th>
          <th class="thead1" colspan="2"><sub>ТО-2</sub></th>
          <th class="thead1" colspan="2"><sub>ТО-3</sub></th>
          <th class="thead1" colspan="2"><sub>ТО-4</sub></th>
          <th class="thead1" colspan="2"><sub>ТО-5</sub></th>
          <th class="thead1" colspan="2"><sub>ТО-6</sub></th>
        </tr>
        <tr>
          <td class="thead2" colspan="2" align="center"><sub>2 000 – 3 000 км.</sub></td>
          <td class="thead2" colspan="2" align="center"><sub>14 500 – 15 500 км.<br>
            или через<br>
            1 год экспл.</sub></td>
          <td class="thead2" colspan="2" align="center"><sub>29 500 – 30 500 км.<br>
            или через<br>
            2 года экспл.</sub></td>
          <td class="thead2" colspan="2" align="center"><sub>44 500 – 45 500 км.<br>
            или через<br>
            3 года экспл.</sub></td>
          <td class="thead2" colspan="2" align="center"><sub>59 500 – 60 500 км.<br>
            или через<br>
            4 года экспл.</sub></td>
          <td class="thead2" colspan="2" align="center"><sub>74 500 – 75 500 км.<br>
            или через<br>
            5 лет экспл.</sub></td>
        </tr>
        <tr>
          <th class="thead1" align="center" valign="top"><sub>Работа, руб.</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Материалы, руб., min-max</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Работа, руб.</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Материалы, руб., min-max</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Работа, руб.</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Материалы, руб., min-max</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Работа, руб.</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Материалы, руб., min-max</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Работа, руб.</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Материалы, руб., min-max</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Работа, руб.</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Материалы, руб., min-max</sub></th>
        </tr>
        <tr>
          <td width="120"><sub>21921, 21941 – 8 кл. ДВС</sub></td>
          <td align="center"><sub>459</sub></td>
          <td align="center"><sub>430 – 430</sub></td>
          <td align="center"><sub>2716.2</sub></td>
          <td align="center"><sub>2340 – 2340</sub></td>
          <td align="center"><sub>2559.6</sub></td>
          <td align="center"><sub>3640 – 3640</sub></td>
          <td align="center"><sub>2797.2</sub></td>
          <td align="center"><sub>2690 – 2690</sub></td>
          <td align="center"><sub>2667.6</sub></td>
          <td align="center"><sub>3640 – 3640</sub></td>
          <td align="center"><sub>–</sub></td>
          <td align="center"><sub>–</sub></td>
        </tr>
        <tr>
          <td width="120"><sub>21922, 21942 – 16кл. ДВС</sub></td>
          <td align="center"><sub>0</sub></td>
          <td align="center"><sub>430 – 430</sub></td>
          <td align="center"><sub>2397.6</sub></td>
          <td align="center"><sub>2340 – 2340</sub></td>
          <td align="center"><sub>2532.6</sub></td>
          <td align="center"><sub>3640 – 3640</sub></td>
          <td align="center"><sub>2478.6</sub></td>
          <td align="center"><sub>2690 – 2690</sub></td>
          <td align="center"><sub>2829.6</sub></td>
          <td align="center"><sub>3640 – 3640</sub></td>
          <td align="center"><sub>–</sub></td>
          <td align="center"><sub>–</sub></td>
        </tr>
        <tr>
          <td width="120"><sub>21923, 21943 – 8 кл. ДВС</sub></td>
          <td align="center"><sub>–</sub></td>
          <td align="center"><sub>–</sub></td>
          <td align="center"><sub>2759.4</sub></td>
          <td align="center"><sub>2340 – 2340</sub></td>
          <td align="center"><sub>2602.8</sub></td>
          <td align="center"><sub>3640 – 3640</sub></td>
          <td align="center"><sub>2840.4</sub></td>
          <td align="center"><sub>2690 – 2690</sub></td>
          <td align="center"><sub>2710.8</sub></td>
          <td align="center"><sub>3640 – 3640</sub></td>
          <td align="center"><sub>–</sub></td>
          <td align="center"><sub>–</sub></td>
        </tr>
        <tr>
          <td width="120"><sub>21925, 21945, 21927, 21947 – 16 кл. ДВС</sub></td>
          <td align="center"><sub>0</sub></td>
          <td align="center"><sub>430 – 430</sub></td>
          <td align="center"><sub>2349</sub></td>
          <td align="center"><sub>2340 – 2340</sub></td>
          <td align="center"><sub>2484</sub></td>
          <td align="center"><sub>3640 – 3640</sub></td>
          <td align="center"><sub>2430</sub></td>
          <td align="center"><sub>2690 – 2690</sub></td>
          <td align="center"><sub>2781</sub></td>
          <td align="center"><sub>3640 – 3640</sub></td>
          <td align="center"><sub>–</sub></td>
          <td align="center"><sub>–</sub></td>
        </tr>
        <tr>
          <th class="thead1" style="text-align: center;" rowspan="3"><strong><sub>LADA Priora</sub></strong></th>
          <th class="thead1" colspan="2"><sub>ТО-1</sub></th>
          <th class="thead1" colspan="2"><sub>ТО-2</sub></th>
          <th class="thead1" colspan="2"><sub>ТО-3</sub></th>
          <th class="thead1" colspan="2"><sub>ТО-4</sub></th>
          <th class="thead1" colspan="2"><sub>ТО-5</sub></th>
          <th class="thead1" colspan="2"><sub>ТО-6</sub></th>
        </tr>
        <tr>
          <td class="thead2" colspan="2" align="center"><sub>2000-3000 км.</sub></td>
          <td class="thead2" colspan="2" align="center"><sub>14500-15500 км.<br>
            или через<br>
            1 год экспл.</sub></td>
          <td class="thead2" colspan="2" align="center"><sub>29500-30500 км.<br>
            или через<br>
            2 года экспл.</sub></td>
          <td class="thead2" colspan="2" align="center"><sub>44500-45500 км.<br>
            или через<br>
            3 года экспл.</sub></td>
          <td class="thead2" colspan="2" align="center"><sub>59 500 – 60 500 км.<br>
            или через<br>
            4 года экспл.</sub></td>
          <td class="thead2" colspan="2" align="center"><sub>74 500 – 75 500 км.<br>
            или через<br>
            5 лет экспл.</sub></td>
        </tr>
        <tr>
          <th class="thead1" align="center" valign="top"><sub>Работа, руб.</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Материалы, руб., min-max</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Работа, руб.</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Материалы, руб., min-max</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Работа, руб.</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Материалы, руб., min-max</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Работа, руб.</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Материалы, руб., min-max</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Работа, руб.</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Материалы, руб., min-max</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Работа, руб.</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Материалы, руб., min-max</sub></th>
        </tr>
        <tr>
          <td width="120"><sub>21701, 21711, 21721 _ 8 кл. ДВС</sub></td>
          <td align="center"><sub>459</sub></td>
          <td align="center"><sub>2060 – 2060</sub></td>
          <td align="center"><sub>2559.6</sub></td>
          <td align="center"><sub>3360 – 3360</sub></td>
          <td align="center"><sub>2462.4</sub></td>
          <td align="center"><sub>2110 – 2110</sub></td>
          <td align="center"><sub>3180.6</sub></td>
          <td align="center"><sub>3810 – 3810</sub></td>
          <td align="center"><sub>2759.4</sub></td>
          <td align="center"><sub>3810 – 3810</sub></td>
          <td align="center"><sub>–</sub></td>
          <td align="center"><sub>–</sub></td>
        </tr>
        <tr>
          <td width="120"><sub>21702, 21712, 21722 _ 8 кл. ДВС</sub></td>
          <td align="center"><sub>459</sub></td>
          <td align="center"><sub>2060 – 2060</sub></td>
          <td align="center"><sub>2532.6</sub></td>
          <td align="center"><sub>3360 – 3360</sub></td>
          <td align="center"><sub>2419.2</sub></td>
          <td align="center"><sub>2110 – 2110</sub></td>
          <td align="center"><sub>3153.6</sub></td>
          <td align="center"><sub>3810 – 3810</sub></td>
          <td align="center"><sub>2716.2</sub></td>
          <td align="center"><sub>3810 – 3810</sub></td>
          <td align="center"><sub>–</sub></td>
          <td align="center"><sub>–</sub></td>
        </tr>
        <tr>
          <td width="120"><sub>21703, 21713, 21723, 21705, 21715, 21725 _ 16 кл. ДВС</sub></td>
          <td align="center"><sub>–</sub></td>
          <td align="center"><sub>–</sub></td>
          <td align="center"><sub>1884.6</sub></td>
          <td align="center"><sub>2060 – 2060</sub></td>
          <td align="center"><sub>2214</sub></td>
          <td align="center"><sub>3360 – 3360</sub></td>
          <td align="center"><sub>2343.6</sub></td>
          <td align="center"><sub>2110 – 2110</sub></td>
          <td align="center"><sub>2727</sub></td>
          <td align="center"><sub>3810 – 3810</sub></td>
          <td align="center"><sub>–</sub></td>
          <td align="center"><sub>–</sub></td>
        </tr>
        <tr>
          <th class="thead1" style="text-align: center;" rowspan="3"><strong><sub>LADA Largus</sub></strong></th>
          <th class="thead1" colspan="2"><sub>ТО-1</sub></th>
          <th class="thead1" colspan="2"><sub>ТО-2</sub></th>
          <th class="thead1" colspan="2"><sub>ТО-3</sub></th>
          <th class="thead1" colspan="2"><sub>ТО-4</sub></th>
          <th class="thead1" colspan="2"><sub>ТО-5</sub></th>
          <th class="thead1" colspan="2"><sub>ТО-6</sub></th>
        </tr>
        <tr>
          <td class="thead2" colspan="2" align="center"><sub>14500-15500 км.<br>
            или через<br>
            1 год экспл.</sub></td>
          <td class="thead2" colspan="2" align="center"><sub>29500-30500 км.<br>
            или через<br>
            2 года экспл.</sub></td>
          <td class="thead2" colspan="2" align="center"><sub>44500-45500 км.<br>
            или через<br>
            3 года экспл.</sub></td>
          <td class="thead2" colspan="2" align="center"><sub>59500-60500 км.<br>
            или через<br>
            4 года экспл.</sub></td>
          <td class="thead2" colspan="2" align="center"><sub>74 500 – 75 500 км.<br>
            или через<br>
            5 лет экспл.</sub></td>
          <td class="thead2" colspan="2" align="center"><sub>89 500 – 90 500 км. или через 6 лет экспл.</sub></td>
        </tr>
        <tr>
          <th class="thead1" align="center" valign="top"><sub>Работа, руб.</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Материалы, руб., min-max</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Работа, руб.</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Материалы, руб., min-max</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Работа, руб.</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Материалы, руб., min-max</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Работа, руб.</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Материалы, руб., min-max</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Работа, руб.</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Материалы, руб., min-max</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Работа, руб.</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Материалы, руб., min-max</sub></th>
        </tr>
        <tr>
          <td width="120"><sub>Largus 5 – местный 16 кл. _ ДВС</sub></td>
          <td align="center"><sub>1344.6</sub></td>
          <td align="center"><sub>3710 – 3710</sub></td>
          <td align="center"><sub>2046.6</sub></td>
          <td align="center"><sub>4210 – 4210</sub></td>
          <td align="center"><sub>1344.6</sub></td>
          <td align="center"><sub>3710 – 3710</sub></td>
          <td align="center"><sub>2262.6</sub></td>
          <td align="center"><sub>7715 – 7715</sub></td>
          <td align="center"><sub>1344.6</sub></td>
          <td align="center"><sub>3515 – 3515</sub></td>
          <td align="center"><sub>2856.6</sub></td>
          <td align="center"><sub>3515 – 3515</sub></td>
        </tr>
        <tr>
          <td width="120"><sub>Largus 5 – местный 8 кл. _ ДВС</sub></td>
          <td align="center"><sub>1290.6</sub></td>
          <td align="center"><sub>3710 – 3710</sub></td>
          <td align="center"><sub>1884.6</sub></td>
          <td align="center"><sub>4210 – 4210</sub></td>
          <td align="center"><sub>1290.6</sub></td>
          <td align="center"><sub>3710 – 3710</sub></td>
          <td align="center"><sub>1884.6</sub></td>
          <td align="center"><sub>7715 – 7715</sub></td>
          <td align="center"><sub>1290.6</sub></td>
          <td align="center"><sub>3515 – 3515</sub></td>
          <td align="center"><sub>2694.6</sub></td>
          <td align="center"><sub>3515 – 3515</sub></td>
        </tr>
        <tr>
          <td width="120"><sub>Largus 7 – местный 16 кл. _ ДВС</sub></td>
          <td align="center"><sub>1344.6</sub></td>
          <td align="center"><sub>3710 – 3710</sub></td>
          <td align="center"><sub>2046.6</sub></td>
          <td align="center"><sub>4210 – 4210</sub></td>
          <td align="center"><sub>1344.6</sub></td>
          <td align="center"><sub>3710 – 3710</sub></td>
          <td align="center"><sub>2262.6</sub></td>
          <td align="center"><sub>7715 – 7715</sub></td>
          <td align="center"><sub>1344.6</sub></td>
          <td align="center"><sub>3515 – 3515</sub></td>
          <td align="center"><sub>2856.6</sub></td>
          <td align="center"><sub>3515 – 3515</sub></td>
        </tr>
        <tr>
          <td width="120"><sub>Largus 7 – местный 8 кл. _ ДВС</sub></td>
          <td align="center"><sub>1290.6</sub></td>
          <td align="center"><sub>3710 – 3710</sub></td>
          <td align="center"><sub>1884.6</sub></td>
          <td align="center"><sub>4210 – 4210</sub></td>
          <td align="center"><sub>1290.6</sub></td>
          <td align="center"><sub>3710 – 3710</sub></td>
          <td align="center"><sub>1884.6</sub></td>
          <td align="center"><sub>7715 – 7715</sub></td>
          <td align="center"><sub>1290.6</sub></td>
          <td align="center"><sub>3515 – 3515</sub></td>
          <td align="center"><sub>2694.6</sub></td>
          <td align="center"><sub>3515 – 3515</sub></td>
        </tr>
        <tr>
          <td width="120"><sub>Largus фургон 16 кл. _ ДВС</sub></td>
          <td align="center"><sub>1328.4</sub></td>
          <td align="center"><sub>3710 – 3710</sub></td>
          <td align="center"><sub>2030.4</sub></td>
          <td align="center"><sub>4210 – 4210</sub></td>
          <td align="center"><sub>1328.4</sub></td>
          <td align="center"><sub>3710 – 3710</sub></td>
          <td align="center"><sub>2246.4</sub></td>
          <td align="center"><sub>7715 – 7715</sub></td>
          <td align="center"><sub>1328.4</sub></td>
          <td align="center"><sub>3515 – 3515</sub></td>
          <td align="center"><sub>2840.4</sub></td>
          <td align="center"><sub>3515 – 3515</sub></td>
        </tr>
        <tr>
          <td width="120"><sub>Largus фургон 8 кл. _ ДВС</sub></td>
          <td align="center"><sub>1274.4</sub></td>
          <td align="center"><sub>3710 – 3710</sub></td>
          <td align="center"><sub>1868.4</sub></td>
          <td align="center"><sub>4210 – 4210</sub></td>
          <td align="center"><sub>1274.4</sub></td>
          <td align="center"><sub>3710 – 3710</sub></td>
          <td align="center"><sub>1868.4</sub></td>
          <td align="center"><sub>7715 – 7715</sub></td>
          <td align="center"><sub>1274.4</sub></td>
          <td align="center"><sub>3515 – 3515</sub></td>
          <td align="center"><sub>2678.4</sub></td>
          <td align="center"><sub>3515 – 3515</sub></td>
        </tr>
        <tr>
          <th class="thead1" style="text-align: center;" rowspan="3"><strong><sub>LADA 4×4</sub></strong></th>
          <th class="thead1" colspan="2"><sub>ТО-1</sub></th>
          <th class="thead1" colspan="2"><sub>ТО-2</sub></th>
          <th class="thead1" colspan="2"><sub>ТО-3</sub></th>
          <th class="thead1" colspan="2"><sub>ТО-4</sub></th>
          <th class="thead1" colspan="2"><sub>ТО-5</sub></th>
          <th class="thead1" colspan="2"><sub>ТО-6</sub></th>
        </tr>
        <tr>
          <td class="thead2" colspan="2" align="center"><sub>2 000 – 3 000 км.</sub></td>
          <td class="thead2" colspan="2" align="center"><sub>9 500 – 10 500 км.</sub></td>
          <td class="thead2" colspan="2" align="center"><sub>19 500 – 20 500 км.</sub></td>
          <td class="thead2" colspan="2" align="center"><sub>29 500 – 30 500 км.</sub></td>
          <td class="thead2" colspan="2" align="center"><sub>39 500 – 40 500 км.</sub></td>
          <td class="thead2" colspan="2" align="center"><sub>49 500 – 50 500 км.</sub></td>
        </tr>
        <tr>
          <th class="thead1" align="center" valign="top"><sub>Работа, руб.</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Материалы, руб., min-max</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Работа, руб.</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Материалы, руб., min-max</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Работа, руб.</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Материалы, руб., min-max</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Работа, руб.</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Материалы, руб., min-max</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Работа, руб.</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Материалы, руб., min-max</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Работа, руб.</sub></th>
          <th class="thead1" align="center" valign="top"><sub>Материалы, руб., min-max</sub></th>
        </tr>
        <tr>
          <td width="120"><sub>21214-20, 2131</sub></td>
          <td align="center"><sub>2079</sub></td>
          <td align="center"><sub>2960 – 2960</sub></td>
          <td align="center"><sub>1690.2</sub></td>
          <td align="center"><sub>2120 – 2120</sub></td>
          <td align="center"><sub>3288.6</sub></td>
          <td align="center"><sub>2120 – 2120</sub></td>
          <td align="center"><sub>2624.4</sub></td>
          <td align="center"><sub>3890 – 3890</sub></td>
          <td align="center"><sub>–</sub></td>
          <td align="center"><sub>–</sub></td>
          <td align="center"><sub>–</sub></td>
          <td align="center"><sub>–</sub></td>
        </tr>
        </tbody>
      </table>
      <p class="pwin"><strong>Техническое обслуживание автомобиля</strong> – это комплекс мер, направленных на поддержание транспортного
        средства в исправном состоянии и соответствующем внешнем виде, а так же на выявление и
        устранение возможных скрытых неисправностей. Техническая исправность автомобиля подразумевает под
        собой максимально возможный уровень безопасности, экономичности и надежности. Техническое обслуживание, в
        отличие от ремонта, носит профилактический характер. Что бы уделить немного внимания своему автомобилю не обязательно
        ждать пока случится поломка.</p>

      <p class="pwin">Необходимость в проведении технического обслуживания обусловлена в первую очередь элементарными законами физики. Во время эксплуатации автомобиля происходит его износ. Каждая поездка в техническом смысле представляет собой вибрацию, перегрузки; автомобиль подвергается воздействию влаги, воздуха, температуры и многих других факторов. С момента, когда машина тронулась с места, все детали находятся в состоянии трения, и это неизбежно влечет за собой некоторую деформацию (изменение размеров, формы). Даже при самой низкой интенсивности использования, на идеально ровном дорожном покрытии, рано или поздно техническое состояние любого автомобиля изменяется в худшую сторону.
        Согласно действующей в РФ транспортной системе, выделяется четыре основных вида технического обслуживания автомобилей:</p>
      <ul>
        <li>ежедневное обслуживание (ЕО);</li>
        <li>первое техническое обслуживание – ТО-1;</li>
        <li>второе техническое обслуживание – ТО-2;</li>
        <li>сезонное обслуживание (СО).</li>
      </ul>
      <p class="pwin">Ежедневное обслуживание подразумевает под собой контроль состояния следующих агрегатов: спидометр, датчики, тормозная система, система рулевого управления, фары и сигнализация. Проверка уровня масла, топлива, охлаждающей и тормозной жидкостей так же относится к ежедневным обязанностям автомобилиста. Не стоит забывать про регулярную мойку и поддержание чистоты в салоне.
      </p>
      <p class="pwin">Перед каждой поездкой рекомендуем проверить:</p>
      <ul>
        <li>общее состояние автомобиля;</li>
        <li>состояние кузова;</li>
        <li>положение зеркал;</li>
        <li>состояние номерных знаков;</li>
        <li>состояние электрооборудования;</li>
        <li>рулевую систему;</li>
        <li>работу датчиков.</li>
      </ul>
      <p class="pwin">ТО-1 включает в себя все работы связанные с ЕО плюс:</p>
      <ul>
        <li>выполнение крепежных работ;</li>
        <li>очистку;</li>
        <li>смазку;</li>
        <li>контроль;</li>
        <li>диагностику;</li>
        <li>регулировку оборудования.</li>
      </ul>
      <p class="pwin">Основная цель первого технического обслуживания – предотвращение случайных поломок, которые могут вывести из строя транспортное средство, увеличить расход топлива и смазочных материалов, или повысить уровень загрязнения окружающей среды.</p>

      <p class="pwin"><strong>Второе техническое обслуживание</strong> ТО2, по сути, преследует те же цели, что и ЕО или ТО1. Основное отличие заключается в сложности и объемах работ. Крепежные, смазочные, диагностические и регулировочные работы, в данном случае, проводятся со снятием некоторых деталей. Проверка и обслуживание составных частей производится с помощью специального оборудования.</p>
      <p class="pwin"><strong>Сезонное обслуживание</strong> представляет собой подготовку транспортного средства к эксплуатации в тот или иной сезон. Для нашего климата процедура СО является обязательной, и проводится не реже двух раз в году. С наступлением заморозков все увеличивается печальная статистика жертв гололеда и собственной глупости. В преддверии первых морозов необходимо «переобуть» свой автомобиль в зимнюю резину, Соответственно, в теплое время зимняя резина уступает место летней. Так же необходимо осуществить: замену масла в двигателе на летние/зимние сорта (в соответствии с сезоном), контроль работы системы отопления/кондиционирования салона.</p>
      <h3 class="maincl margin-bottom-30" align="center">Несколько слов о регламенте проведения ТО.</h3>
      <p class="pwin">Прежде всего, хотелось бы развеять миф о том, что регламент технического обслуживания составляется рекламщиками, маркетологами, и прочими нехорошими специалистами. Регламент ТО1 и ТО2 – это в первую очередь рекомендации инженеров завода-изготовителя транспортного средства! Рекомендации относительно надежности Вашего автомобиля и, что самое главное, относительно безопасности Вашей жизни. Периодичность, регламент и порядок проведения технического обслуживания будут указаны в сервисной книжке, которая является одним из обязательных документов к любому транспортному средству. Также ремонт автомобиля пятигорск проводится в компании “Автостар”.</p>

      <p class="pwin">Периодичность тех или иных работ может определяться:</p>
      <ul>
        <li>временным интервалом</li>
        <li>временем и пробегом</li>
        <li>километрами пробега</li>
      </ul>
      <p class="pwin">Первое техническое обслуживание автомобилей (ТО-1) проводится каждые 10000 километров пробега и подразумевает проведение технического обслуживания в следующем объеме:</p>

      <p class="pwin">Выполнение работ в рамках ЕО.</p>
      <ol>
        <li>Диагностика ходовой части, тормозной системы;</li>
        <li>Визуальный осмотр различных систем автомобиля на предмет проверки их целостности и работоспособности;</li>
        <li>Проверка уровня технических жидкостей, долив при необходимости;</li>
        <li>Проверка состояния шин и давления воздуха в них, подкачка воздуха до нормы, балансировка;</li>
        <li>Очистка аккумуляторной батареи от грязи, проверка уровня заряженности АКБ;</li>
        <li>Смазка петель замков, дверей и капота;</li>
        <li>Контроль состояния свечей зажигания , при необходимости замена;</li>
        <li>Замена фильтрующего элемента в воздушном фильтре;</li>
        <li>Замена моторного масла и масляного фильтра;</li>
        <li>Проверка развала-схождения, при необходимости регулировка.</li>
      </ol>
      <p class="pwin">Второе техническое обслуживание автомобилей (ТО-2) проводится каждые 30000 километров пробега предполагает:</p>
      <ol>
        <li>Выполнение работ, предусмотренных ЕО;</li>
        <li>Выполнение работ, предусмотренных регламентом ТО-1;</li>
        <li>Контроль состояния приводных ремней;</li>
        <li>Химическая чистка топливной системы;</li>
        <li>Замена свечей зажигания, воздушного, салонного и топливного фильтров;</li>
        <li>Замена тормозной жидкости;</li>
        <li>Замена жидкости гидроусилителя руля;</li>
        <li>Замена технических жидкостей в узлах и агрегатах трансмиссии;</li>
        <li>Контроль уровня и состояния антифриза;</li>
        <li>По истечении пробега 100 000 км. Производят замену ремня привода ГРМ.</li>
      </ol>
    </div>
  </div>
